[Unit]
Description=Web Listener Updater
After=network.target

[Service]
Type=oneshot
User=web-listener-updater
Environment="PATH=/usr/local/bin:/usr/bin:/bin:/home/web-listener-updater/.local/bin"
ExecStart=/var/www/web-listener/update.mjs
