h1, h2, p, a, section {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	min-height: 100%;
}

body {
	font: 1rem sans-serif;
	color: #444444;
	text-align: center;
	padding: 3rem 2rem 10rem;
	margin: 0;
	background: linear-gradient(to bottom, #DDEEFF, #F8F8F8);
}

h1 {
	margin: 0 0 1rem;
	font: bolder 2rem sans-serif;
}

.item {
	--col: white;
	--outlinecol: #0050C0;
	display: block;
	color: inherit;
	text-decoration: none;
	border-radius: 5px;
	max-width: 26rem;
	margin: 0 auto 1rem;
}
.item>section {
	padding: 1.5rem;
	border-radius: 5px;
	background: var(--col);
	transition: 0.2s ease background, 0.2s ease transform;
}
.item:active>section, .item:hover>section {
	transform: scale(0.95);
}
.item:focus {
	outline: none;
	box-shadow: 0 0 0 2px var(--outlinecol);
}
.item:nth-child(1):hover { --col: #AACCFF; }
.item:nth-child(2):hover { --col: #FFEEAA; }
.item:nth-child(3):hover { --col: #BBEEAA; }
.item:nth-child(4):hover { --col: #BBAAFF; }
.item:nth-child(5):hover { --col: #FFAAAA; }
.item:nth-child(6):hover { --col: #EEAAFF; }
.item:nth-child(7):hover { --col: #AAEEFF; }
.item:nth-child(9):hover { --col: #FFCCAA; }
.item h2 {
	font: bolder 1.5rem sans-serif;
	margin: 0 0 1rem;
}
.item .info {
	margin: 0 0 1rem;
}
.item .link {
	font-size: 0.8rem;
	margin: 0;
}
.item:link .link, .item:visited .link {
	color: #4466AA;
	text-decoration: underline;
}
.item:active .link, .item:hover .link {
	color: #333333;
	text-decoration: underline;
}
.skip {
	height: 0;
}

@media (min-width: 46rem) {
	main {
		display: grid;
		justify-content: center;
	}

	.item {
		--grow: 0px;
		position: relative;
		margin: var(--space) calc(var(--size) * 0.25 + var(--space) * 0.866025403784439 - var(--grow));
		width: calc(var(--size) + var(--grow) * 2);
		height: calc(var(--size) * 1.732050807568877);
		border-radius: 0;
		z-index: 1;
	}
	.item>section {
		position: absolute;
		padding: 0;
		border-radius: 0;
		top: 0;
		left: var(--grow);
		right: var(--grow);
		bottom: 0;
		z-index: 1;
	}
	.item>section, .item>section::before, .item>section::after {
		background: var(--col);
		transition: 0.2s ease background, 0.2s ease transform;
	}
	.item::before, .item::after, .item>section::before, .item>section::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
	}
	.item::before, .item>section::before {
		transform: rotate(60deg);
	}
	.item::after, .item>section::after {
		transform: rotate(-60deg);
	}

	main {
		--size: 9rem;
		--space: 0.5rem;
		margin-top: -3rem;
		grid-template-columns: repeat(3, max-content);
	}
	.item:nth-child(3n + 2) {
		top: calc(var(--size) * 0.866025403784439 + var(--space));
	}
	.item h2 {
		margin: 2rem -0.8rem 1rem;
		min-height: 3rem;
	}
	.item .info {
		margin: 0 -2.5rem 0.5rem;
		min-height: 4rem;
	}
	.item .link {
		margin: 0 -2rem;
	}
	.item:focus {
		--grow: 4px;
	}
	.item:focus, .item:focus::before, .item:focus::after {
		box-shadow: 0 -5px 0 -3px var(--outlinecol), 0 5px 0 -3px var(--outlinecol);
	}
}

.error header {
	margin: 2rem 0 3rem;
}

.error header p {
	font-size: 0.6rem;
	color: #888888;
}

a:link:not(.item), a:visited:not(.item) {
	color: #4466AA;
	text-decoration: underline;
}
a:active:not(.item), a:hover:not(.item) {
	color: #6699BB;
	text-decoration: none;
}
